<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>PK</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${list}">
                <td th:text="${result.tbIdx}"></td>
                <td th:text="${result.nm}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>