<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>

<body>
<div class="container">
    <div id="errorDiv">
        <strong style="color: red;" th:text="${errorMessage}"/>
    </div>

    [[${comFileType}]]

    <form id="memberDomain" name="memberDomain"  th:action="${formFlag == 'Y' ? '/member/insert' : '/member/update'}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="memberId" id="memberId" th:value="${memberDomain.memberId}"/>
        <!-- 이름 입력 -->
        <div class="form-group">
            <label for="nm">이름</label>
            <input type="text" id="nm" name="nm" placeholder="이름을 입력하세요" th:value="${memberDomain.nm}">
        </div>

        <!-- 연락처 입력 -->
        <div class="form-group">
            <label for="tellNo">연락처</label>
            <input type="text" id="tellNo" name="tellNo" placeholder="연락처를 입력하세요." th:value="${memberDomain.tellNo}">
        </div>

        <!-- 이메일 입력 -->
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" id="email" name="email" placeholder="이메일을 입력하세요" th:value="${memberDomain.email}"/>
        </div>

        <!-- ComFileUpload.html 폼 삽입 -->
        <div class="form-group">
            <span>파일업로드1</span>
            <input type="hidden" name="fileId" id="fileId" th:value="${memberDomain.fileId}"/>

            <!-- 파일업로드 영역 div, file관련 id hidden input, 검증validation항목(ex-IMAGE), 용량, 개수, 업로드할 경로-->
            <div th:insert="~{tempFiles/ComFileUpload :: fileupload('fileUpload','fileId', 'IMAGE', 10,5, 'member')}"></div>
        </div>
        <div class="form-group">
            <span>파일업로드2</span>
            <input type="hidden" name="fileId2" id="fileId2" th:value="${memberDomain.fileId2}"/>
            <div th:insert="~{tempFiles/ComFileUpload :: fileupload('fileUpload2','fileId2', 'DOCUMENT', 10,5, 'member')}"></div>
        </div>


        <!-- 제출 버튼 -->
        <button type="button" onclick="submitForm();" th:text="${formFlag == 'Y' ? '등록' : '수정'}"></button>
    </form>
</div> <!-- /container -->

<script>

    // 폼 제출
    function submitForm() {
        const form = document.getElementById("memberDomain");
        form.submit(); // 폼 전송
    }


</script>
</body>
</html>
